.task.edit-page
  .card
    .card-body
      %h1 Editar tarea

      = render 'form'

      = link_to 'Show', @task, class: 'btn btn-dark'
      \|
      = link_to 'Back', tasks_path, class: 'btn btn-dark'
